// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img.icon {
  width: 15%;
  height: 15%;
}

img.single-icon {
  width: 15%;
  height: 100%;
}
